$background:(
    "background": #F5F7FB,
    "blue-shape": #DEEBF8,
    "yellow-shape": #FFFAD1
);
$button:(
    "background": #4D5B9E,
    "text": #F5F7FB
);
$answer:(
    "background": #F5F7FB,
    "text": #293264,
    "border": #4D5B9E,
    "selected": #D6DBF5,
    "correct": #94D7A2,
    "incorrect": #F8BCBC,

);
$text-color:#293264;
$br-color:#DBDEF0;