@use "./variables" as *;
@use "./gb=anim" as *;


@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow: hidden
}
.karla {
    font-family: 'Karla', sans-serif;
}
#root {
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
    background-color: map-get($background, "background" );
    position: relative
}

.start-screen {
    @include flex(column, center, center);
    gap: 2rem;    
    z-index: 2;

    > *:not(.button) {
        color: $text-color;
        text-align: center;
    }
    .heading {
        font-family: 'Karla', sans-serif;
        font-size: 2rem;
        font-weight: 700;

    }
    .description {

        width: max(50vw, 20rem);

    }
}



.quiz-screen {
    @include flex(column, flex-start, center);
    gap: .75rem;

    width: 80vw;
    .button {
        align-self: center;
    }
}

.question {
    @include flex(column, flex-start, center);
    gap: .75rem;
    width: 100%;

    font-weight: 700;

    >*:not(.button){
        color: map-get($question, "text");
    }
    .text {
        font-family: 'Karla', sans-serif;
    }
    .answers {
        list-style-type:none;

        @include flex(row, center, flex-start);
        gap: .75rem;
        width: 100%;


        .option {
            @include flex(row, center, center);
            padding: .4rem 1.2rem;
            border: 1px solid map-get($question, "border");
            border-radius: .5rem;
            font-size: 0.7rem;
            font-weight: 500;
            
            cursor: pointer;
            text-align: center;
            .answer {
                background-color: red;
            }
        }
    }
    hr {
        width: 100%;
        border: 0.794239px solid #DBDEF0;
    }
}

.no-user-select {
            /* not selectable */
            -webkit-user-select: none;  
            -moz-user-select: none;     
            -ms-user-select: none;      
            user-select: none;   
}

.selected {
    background-color: map-get($question, "selected");
}
.correct {
    background-color: map-get($question, "correct");
    border-color: map-get($question, "correct");
}
.incorrect {
    background-color: map-get($question, "incorrect");
    border-color: map-get($question, "incorrect");
}

.row {
    width: 100%;
    @include flex(row, center, center);
    gap: 1.5rem;

    p {
        font-size: .8rem;
        font-weight: 700;

        color: $text-color;
    }

}



.button {

    background-color: map-get($button , "background");
    width: 7.5rem;
    height: 2.2rem;
    border: 0;
    border-radius: 0.6rem;


    font-weight: 500;
    color: map-get($button, "text");
    text-align: center;

    cursor: pointer;

    &:active {
        box-shadow: inset 0 0 1rem $text-color;
    }
}
.button.bg {
    width: 12rem;
    height: 3.2rem;
    border-radius: 1rem;

}

.button.sm {
    width: 6.5rem;
    height: 1.9rem;

}