@use "./variables" as *;
@use "./gb=anim" as *;





@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow: hidden
}
.karla {
    font-family: 'Karla', sans-serif;
}
#root {
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
    background-color: map-get($background, "background" );
    position: relative
}

.start-screen {
    @include flex(column, center, center);
    gap: 2rem;    
    z-index: 2;

    > *:not(.button) {
        color: $text-color;
        text-align: center;
    }
    .heading {
        font-family: 'Karla', sans-serif;
        font-size: 2rem;
        font-weight: 700;

    }
    .description {

        width: max(50vw, 20rem);

    }
}

.button {

    font-weight: 500;
    color: map-get($button, "text");
    background-color: map-get($button , "background");

    min-width: 8.5rem;
    padding: 1rem 1.8rem;
    border: 0;
    border-radius: 1rem;

    cursor: pointer;

    &:active {
        box-shadow: inset 0 0 1rem $text-color;
    }
}

.quiz-screen {
    @include flex(column, flex-start, center);
    gap: .75rem;

    width: 80vw;
}

.question {
    @include flex(column, flex-start, center);
    gap: .75rem;
    width: 100%;

    font-family: 'Karla', sans-serif;
    font-weight: 700;
  


    >*:not(.button){
        color: map-get($question, "text");
    }
    .text {


        -webkit-user-select: none;  
        -moz-user-select: none;     
        -ms-user-select: none;      
        user-select: none;   
    }
    .answers {
        list-style-type:none;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .75rem;
        width: 100%;

        .option {
            @include flex(row, center, center);
            padding: .4rem 1.2rem;
            border: 1px solid map-get($question, "border");
            border-radius: .5rem;

            font-size: 0.7rem;
            font-weight: 500;

            position:relative;
            label {
                text-align: center;
                z-index:90;
            }
            input {
                display: block;
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;

                opacity:0.01;
                cursor: pointer;
                z-index:100;

            }
            input[type="radio"]:checked + label{
                background-color: map-get($question, "selected");
                background-color: red;
            }
        }
    }
    hr {
        width: 100%;
        border: 0.794239px solid #DBDEF0;
    }
}

